@import url(reset.css);

* {
    box-sizing: border-box;
}
header>a>img{
    max-height: 60px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}

header, footer{
    width: 100%;
    background-image: url(../media/img/header3.jpg);
    opacity: 0.8;
    background-position: center;
    border-bottom: solid #e0e0e0 1px;
    color: white
}

h2, article>a{
    width: fit-content;
    border-radius: 15px;
    padding: 2px 5px;
}
h2{
    background-image: url(../media/img/header3.jpg);
    background-position: center;
    color: white;
    text-align: center;
    max-width: 100vw;
}
.lien1{
    margin-top: 74vh;
    font-weight: bold;
}
article>a:hover{
    text-decoration: none;
    padding: 3px 6px;
}
header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header>img{
    max-height: 36.8px;
    max-width: 83vw;
    margin-top: 5px;
    margin-left: 64px;
}
header>p{
    margin-top: 0;
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
    margin-left: 64px;
}
header{
    color: white;
}
body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
main{
    width: 100%;
    background-image: url(../media/img/fond7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}
.back{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
section{
    width: 98%;
}
section, article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.bas, .comp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
main p{
    text-indent: 2%;
}
section:first-child>article:nth-child(2){
    max-width: 100%;
    text-align: center;
}
article>.carrousel>.images{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.images>img, .images>video{
    max-width: 98vw;
    max-height: 73vh;
    position: absolute;
    display: none;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}
input[type="radio"]:hover{
    cursor: pointer;
}
#btn1:checked ~ .images>.img1{
    display: initial;
}
#btn2:checked ~ .images>.img2{
    display: initial;
}
#btn3:checked ~ .images>.img3{
    display: initial;
}
#btn4:checked ~ .images>.img4{
    display: initial;
}
#btn5:checked ~ .images>.img5{
    display: initial;
}
#btn6:checked ~ .images>.img6{
    display: initial;
}
#btn7:checked ~ .images>.img7{
    display: initial;
}
#btn8:checked ~ .images>.img8{
    display: initial;
}
#btn9:checked ~ .images>.img9{
    display: initial;
}
ul>a, p>a{
    color: inherit;
}
ul{
    font-weight: bold;
}
li{
    font-weight: normal;
}

footer{
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
footer>a{
    height: 80%;
    opacity: .9;
}
footer>a:hover{
    height: 90%;
    opacity: 1;
}
footer>a>img{
    height: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}

@media all and (max-width: 73vh) {
    .lien1 {
      margin-top: 100vw;
    }
}
@media all and (max-width: 300px) {
    h2 {
        font-size: large;
      }
    p, li, header>p, a{
      font-size: small;
    }
    input[type="radio"]{
        width: 10px;
        height: 10px;
    }
    header>a>img{
        max-height: 30px;
        top: 10px;
        left: 2px;
    }
    header>img{
        margin-left: 34px;
    }
    header>p{
        margin-left: 34px;
    }
}
