@import url(reset.css);

* {
    box-sizing: border-box;
}
p, ul, li, h1, a{
    color: white;
}
h2{
    color: black;
}
header, footer{
    width: 100%;
    background-image: url(../media/img/header3.webp);
    opacity: 0.8;
    background-position: center;
    border-bottom: solid #e0e0e0 1px;
}
header{
    box-shadow: 0px 3px 10px #ffffffbf;
}
h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 0px 1px 2px #ffffffbf;
    max-width: 100vw;
}
body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
main{
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
section:nth-child(1){
    width: 100%;
    height: min-content;
    min-height: 100vh;
    background-image: url(../media/img/fond7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.Juju{
    height: 70%;
    border: solid white 2px;
    border-radius: 50%;
    margin-right: 1vw;
}
section:nth-child(1)>article{
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
section:nth-child(1)>article:nth-child(1){
    height: 40vh;
    flex-wrap: nowrap;
}
section:nth-child(1)>article:nth-child(2){
    height: min-content;
}
section:nth-child(1)>article:nth-child(3){
    height: min-content;
    justify-content: space-around;
}

section:nth-child(1)>article>div{
    width: 30%;
    max-height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
section:nth-child(1)>article>div>img{
    size-adjust: contain;
    max-width: 90%;
    height: 80%;
    border: solid white 2px;
    border-radius: 50%;
    margin-left: 2vw;
    margin-right: 2vw;
}
section:nth-child(1)>article>div>p{
    margin-top: 0;
    margin-bottom: 1vh;
}
section:nth-child(1)>article>div>ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
section:nth-child(1)>article>div>ul>li{
    list-style: none;
    width: 100%;
    background-color: rgb(29, 29, 29);
    text-indent: 4px;
    margin-bottom: .2vh;
    border:#ffffff solid 2px;
    border-radius: 8px;
}
ul{
    font-weight: bold;
}
li{
    font-weight: normal;
}
li>div{
    border-radius: 8px;
}
.fr{
    width: 98%;
    background-color: #045c01;
}
.en, .buro, .redac{
    width: 80%;
    background-color: #2c6706;
}
.oral{
    width: 55%;
    background-color: #7d7d0c;
}
.es{
    width: 25%;
    background-color: #a58612;
}
.bzh{
    width: 5%;
    background-color: #d09117;
}
section:nth-child(2){
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/fond7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
section:nth-child(2)>a{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
}
section:nth-child(2)>a>article{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.projets{
    background: rgba(31, 31, 31, 0.92);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.projets>a{
    height: 10vh;
    max-width: 10%;
    max-height: 10vh;
    opacity: 0.8;
}
.projets>a>img{
    max-height: 100%;
    width: 100%;
    height: fit-content;
}
.projets>a:hover{
    opacity: 1;
}
.projets>h2{
    color: rgb(238, 238, 238);
    text-align: center;
}
.fond{
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.fond>img{
    max-height: 90%;
    max-width: 90%;
    width: max-content;
}
.icon{
    height: 100%;
    max-width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-end;
}
.icon>img{
    max-height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bibli{
    width: 100%;
    height: 30vh;
    background-color: #3A577C;
}
.judy{
    width: 50%;
    height: 30vh;
    background-color: #363636;
}
.mirabilia{
    width: 50%;
    height: 30vh;
    background-color: #e9ddaf;
}
.instrus{
    width: 50%;
    height: 30vh;
    background-color: #b8b8b8;
}
.art{
    width: 50%;
    height: 30vh;
    background-color: #2b663d;
}
section:nth-child(2)>a:hover{
    opacity: 0.9;
}
section:nth-child(2)>a:hover .fond>img{
    max-height: 100%;
    max-width: 100%;
}

section:nth-child(2)>a:focus .fond>img{
    max-height: 100%;
    max-width: 100%;
}

footer{
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -1px 5px #000000bf;
}
footer>a{
    height: 80%;
    opacity: .9;
}
footer>a:hover{
    height: 90%;
    opacity: 1;
}
footer>a>img{
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: bolder;
}
@media all and (max-width: 300px) {
    h1{
        font-size: x-large;
    }
    h2 {
        font-size: large;
      }
    p, li{
      font-size: small;
    }
}