@import url(reset.css);

* {
    box-sizing: border-box;
}

header, footer{
    width: 100%;
    background-image: url(../media/img/header3.webp);
    opacity: 0.8;
    background-position: center;
    border-bottom: solid #e0e0e0 1px;
    color: white
}
header>a>img{
    max-height: 40px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}
h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    margin-left: 42px;
}
h2{
    max-width: 100vw;
    border-radius: 15px;
    padding: 2px 5px;
    background-image: url(../media/img/header3.webp);
    background-position: center;
    color: white;
    text-align: center;
}
body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
main{
    width: 100%;
    background-image: url(../media/img/fond7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}
.back{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #6d6d6dbf;
    color: white;
}
section{
    width: 98%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
p{
    width: 98%;
    text-indent: 2%;
    text-align: justify;
}
section img{
    max-width: max-content;
    height: 50vh;
}
section:nth-child(2)>article>div, section:nth-child(2), section:last-child>article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
section a>img:hover{
    height: 52vh;
}
section:nth-child(2)>article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
ul{
    font-weight: bold;
}
li{
    font-weight: normal;
}
ul>a, p>a{
    color: inherit;
}
section:last-child>article{
    width: 100%;
}

section:last-child>article>div>ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
section:last-child>article>div>ul>li{
    list-style: none;
    width: 260px;
    background-color: rgb(29, 29, 29);
    text-indent: 4px;
    margin-bottom: .2vh;
    border:#ffffff solid 2px;
    border-radius: 8px;
}
li>div{
    border-radius: 6px;
}
.genres{
    width: 90%;
    background-color: #196203;
}
.francais, .maths, .anglais, .patience{
    width: 85%;
    background-color: #236404;
}
.gimp, .audacity, .pb, .audio, .accent, .mus, .diff, .pedagogie, .polyval{
    width: 80%;
    background-color: #2c6706;
}
.office, .libreoffice, .inkscape, .resopb, .critique, .recherche, .chant, .logo, .DAO, .reliure, .forme, .grammaire, .seances, .vigilance{
    width: 75%;
    background-color: #386a06;
}
.html, .correction, .geometrie, .docs, .piano, .mixage, .paroles, .intrigue, .monde, .courants, .sc, .sequences, .adapt{
    width: 70%;
    background-color: #436d07;
}
.css, .dry, .responsive, .flex, .phpmyadmin, .compopiano, .lyrics, .montage, .pages, .persos, .ecriture, .culturelitte, .anatexte, .artp{
    width: 65%;
    background-color: #4d7008;
}
.architect, .vscode, .reaper, .compomidi, .copyrights, .restaucouv, .geo, .programmes{
    width: 60%;
    background-color: #587309;
}
.hist, .posture{
    width: 55%;
    background-color: #7d7d0c;
}
.php, .sql, .algo, .maquette, .bdd, .clip{
    width: 50%;
    background-color: #6d780a;
}

.recyclage, .eps{
    width: 40%;
    background-color: #827e0c;
}
.acteur{
    width: 35%;
    background-color: #8d810d;
}
.ref, .github{
    width: 30%;
    background-color: #97840e;
}

footer{
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
footer>a{
    height: 80%;
    opacity: .9;
}
footer>a:hover{
    height: 90%;
    opacity: 1;
}
footer>a>img{
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media all and (max-width: 300px) {
    h1{
        font-size: x-large;
        margin-left: 34px;
    }
    h2 {
        font-size: large;
      }
    p, ul, li{
      font-size: small;
    }
    section:last-child>article>div>ul>li{
        width: 100px;
    }
    section img{
        max-width: 80vw;
        height: fit-content;
    }
    section a>img:hover{
        max-width: 85vw;
        height: fit-content;
    }
    header>a>img{
        max-height: 30px;
        top: 2px;
        left: 2px;
    }
}